*{
    padding: 0;
    margin: 0;
}
.one{
    background-image: url(../images/walkingbackground.jpg);
    height:140vh;
    width: 158rem;
    background-size: 155rem;
    background-repeat: no-repeat;
    float:right;
    background-position:top right;
    position:relative;

}
.welcome{
    color: whitesmoke;
    padding-top: 8.5rem;
    padding-left: 20rem;
}
.studio{
    color:white;
    padding-top: 6rem;
    padding-left: 32rem;
}
.people{
    color:whitesmoke;
    padding-left: 25rem;
    font-size: 150%;
}
.mouse{
    padding-top: 23.5rem;
    padding-left: 1rem;
}
.img1{
    padding-top: 19rem;
    padding-left: 3rem;
}
#about{
    margin-top: -50rem;

}
#aboutus{
    font-size: 150%;
}
.services{
    background-image: url(../images/laptop\ background.jpg);
    color: white;
    background-size: cover;
    height: 30rem;
}
#servicess{
    padding-top: 6rem;
    font-size: 150%;
}
#whatwedo{
    height: 40rem;
    margin-bottom: 2.5rem;
}
.contact{
    background-image: url(../images/camera\ background.jpg);
    background-size: cover;
    height: 45rem;
    margin-bottom: 5rem;
    padding-left: 30rem;
}
#name{
    background-color: transparent;
    outline: none;
    width: 40%;
    text-align: justify;
    height: 3rem;
}
#email{
    background-color: transparent;
    outline: none;
    width: 39%;
    text-align: justify;
    height: 3rem;
}
#text1{
    background-color: transparent;
    width: 80%;
    outline: whitesmoke;
}
#text1:hover{
    background-color:white;
}
#contact{
    color: whitesmoke;
    text-align: center;
    padding-right: 20rem;
    padding-top: 5rem;
}
.pofolio{
    width: 82%;
}
#imagess{
    text-align: center;

}
.btn{
    border-radius: 10rem;
    background-color:white;

}
.btn:hover{
    background-color: gold;
}