
  
*{
    padding: 0;
    margin: 0;
}
.one{
    background-image: url(../images/walking\ background.jpg);
    height:120vh;
    width: 158rem;
    background-size: 100rem;
    background-repeat: no-repeat;
    float:right;
    background-position:top right;
    position:relative;

}
.welcome{
    color: whitesmoke;
    padding-top: 6.5rem;
    padding-left: 58rem;
}
.studio{
    color:white;
    padding-top: 6rem;
    padding-left:60rem;
}
.people{
    color:whitesmoke;
    padding-left: 60rem;
    font-size: 150%;
}
.mouse{
    padding-top: 13.8rem;
    padding-left: 50rem;
}
.img1{
    padding-top: 12rem;
    padding-left: 58rem;
}
#about{
    margin-top: -15rem;

}
#aboutus{
    font-size: 150%;
}
.services{
    background-image: url(../images/laptop\ background.jpg);
    color: white;
    background-size: cover;
    height: 25rem;
    margin-bottom: 2rem;
    margin-top: 3rem;
}
#servicess{
    padding-top: 6rem;
    font-size: 150%;
}
#whatwedo{
    margin-bottom: 30px;
}
.contact{
    background-image: url(../images/camera\ background.jpg);
    background-size: cover;
    height: 40rem;
    margin-bottom: 3rem;
    padding-left: 30rem;
    width: 100%;
}
#name{
    background-color: transparent;
    outline: rgb(156, 143, 143);
    width: 40%;
    text-align: justify;
    height: 3rem;
}
#email{
    background-color: transparent;
    outline: none;
    width: 39%;
    text-align: justify;
    height: 3rem;
}
#text1{
    background-color: transparent;
    width: 80%;
    outline: whitesmoke;

}
#text1:hover{
    background-color:grey;
}
#contact{
    color: whitesmoke;
    text-align: center;
    padding-right: 20rem;
    padding-top: 5rem;
}

.btn{
    border-radius: 10rem;
    background-color:white;

}
.btn:hover{
    background-color: gold;
}
#ddevelopment{
    display:none
}
#design{
    display: none;
}
#product{
    display: none;
}
#overlay{
    display: none;
}
#overlay2{
    display: none;
}
#overlay3{
    display: none;
}
#overlay4{
    display: none;
}
#overlay5{
    display: none;
}
#overlay6{
    display: none;
}
#overlay7{
    display: none;
}
#overlay8{
    display: none;
}
#imagess{
    padding-left:33rem;
    height:4rem;
    margin-bottom:2rem;
}